### Day4
#### Indexing and slicing of list

In [3]:
li=[1,2,3,4,5]
print(li[0])
print(li[-1])
print(li[0:3])
li[::3]

1
5
[1, 2, 3]

[1, 4]

In [5]:
li=[10,20,30,40,50]
li[1:4]

[20, 30, 40]

In [6]:
li=["Python",3,6,"Hyd"]
print(li)
li[1]="Gitam"
print(li)

['Python', 3, 6, 'Hyd']
['Python', 'Gitam', 6, 'Hyd']

In [7]:
del li[1]

In [8]:
li

['Python', 6, 'Hyd']

In [9]:
l=[1,2,3,4,5,6,7,8,9,0]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [10]:
len(l)

10

In [11]:
l=[1,2,3,4,5,6,7,8,89,9,97,4]

In [12]:
print(4 in l)

True

In [13]:
print(78 not in l)

True

In [15]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
89
9
97
4

In [19]:
print(l)
for i in range(len(l)):
    print(l[i])

[1, 2, 3, 4, 5, 6, 7, 8, 89, 9, 97, 4]
1
2
3
4
5
6
7
8
89
9
97
4

In [20]:
max(l)

97

In [21]:
min(l)

1

In [22]:
print(l.count(4))
print(l.count(5))

2
1

In [23]:
l.sort()

In [24]:
l

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 89, 97]

In [25]:
l.pop()

97

In [29]:
li1=[11,12,134]
l.extend(li1)

In [30]:
l

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 89, 1, 2, 3, 11, 12, 134]

In [32]:
l.reverse()
l

[134, 12, 11, 3, 2, 1, 89, 9, 8, 7, 6, 5, 4, 4, 3, 2, 1]